@model SafeTripTravelCompanion.Models.TripAdvisor.ResultObject.ResultObject

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ResultObject</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.location_string)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.location_string)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
