@model IEnumerable<SafeTripTravelCompanion.Models.CovidTracking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="col-md-3 mb-3">
    <form asp-action="GetCovidRate">
        <label for="validationServer04">State</label>
        <input type="text" class="form-control is-invalid" id="validationServer04" placeholder="State" required>
        <div class="invalid-feedback">
            Please provide a valid state.
        </div>
    </form>
</div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.state)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.positiveIncrease)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.positive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.totalTestResultsIncrease)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.totalTestResults)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.state)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.positiveIncrease)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.positive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.totalTestResultsIncrease)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.totalTestResults)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }
        </tbody>
    </table>
